<alert type="warning" ng-show="duplicity">
    <div class="text">
        <span class="block"><strong>{{ 'OM_WARNING' | translate}}</strong> {{ 'OM_FLOW_DUPLICITY'| translate }}</span>
    </div>
</alert>

<div class="notifications-table" ng-show="successSentFlows.length || errorFlowsSum() > 0">
    <div class="notifications-table row">
        <div class="notifications-table cell title">{{ 'OM_NOTIFICATIONS' | translate }}</div>
    </div>
    <div class="notifications-table row">
        <div class="notifications-table cell header">{{ 'OM_TOTAL' | translate }}</div>
        <div class="notifications-table cell data-narrow">{{ successSentFlows.length + errorFlowsSum() }}</div>
    </div>
    <div class="notifications-table row">
        <div class="notifications-table cell header success">{{ 'OM_SUCCESS' | translate }}</div>
        <div class="notifications-table cell data-narrow success">{{ successSentFlows.length }}</div>
        <div class="notifications-table cell data success" ng-show="successFlowsShow"><strong>{{ 'OM_FLOW_ID' | translate }}</strong></div>
        <div class="notifications-table cell data success" ng-show="successFlowsShow"><strong>{{ 'OM_DEVICE' | translate }}</strong></div>
        <div class="notifications-table cell success" style="width: 55px;">
            <i class="{{ successFlowsShow ? 'icon-circle-arrow-left' : 'icon-circle-arrow-right' }}" ng-click="successFlowsToggle()" ng-show="successSentFlows.length" tooltip="{{'OF_SUCC_FLOWS_TT' | translate}}"></i>
        </div>
    </div>
    <div class="notifications-table row data" ng-show="successSentFlows.length && successFlowsShow" ng-repeat="flow in successSentFlows track by $index">
        <div class="notifications-table cell header">&nbsp;</div>
        <div class="notifications-table cell data-narrow">&nbsp;</div>
        <div class="notifications-table cell data">{{ labelCbk(flow) }}</div>
        <div class="notifications-table cell data">{{ getDeviceFullNameById(flow.device) }}</div>
        <div class="notifications-table cell data" style="width: 55px;">&nbsp;</div>
    </div>
    <div class="notifications-table row">
        <div class="notifications-table cell header error">{{ 'OM_ERROR' | translate }}</div>
        <div class="notifications-table cell data-narrow error">{{ errorFlowsSum() }}</div>
        <div class="notifications-table cell data error">&nbsp;</div>
        <div class="notifications-table cell data error">&nbsp;</div>
        <div class="notifications-table cell data error" style="width: 55px;">&nbsp;</div>
    </div>
</div>


<!-- <div ng-show="successSentFlows.length || errorFlowsSum() > 0">
    <button class="btn btn-like-tab"  ng-click="">
        sukes: {{ successSentFlows.length }}
    </button>

    <button class="btn  btn-like-tab" ng-click="">
        error: {{ errorFlowsSum() }}
    </button>

    <button class="btn  btn-like-tab" ng-click="">
        total: {{ successSentFlows.length + errorFlowsSum() }}
    </button>
</div> -->
