<div>
    <div ng-show="selFlow.error.length" >
        <div class="text">
            <span><b>{{'OM_SEND_FLOW_ERROR' | translate }}</b></span><br />
            <span ng-repeat="e in selFlow.error track by $index" >{{e | translate}}. </span>
        </div>
    </div>
    <br />

    <alert type="warning" ng-show="selFlow.duplicity">
        <div class="text">
            <span class="block"><strong>{{ 'OM_WARNING' | translate}}</strong> {{ 'OM_FLOW_DUPLICITY'| translate }}</span>
        </div>
    </alert>

    <div class="flowInfoConfigStatusWrapper">
        <!-- <span>{{'OF_CONF' | translate }}
            <strong ng-if="(selFlow.operational - 1) % 2 === 0">{{'OF_YES' | translate }}</strong>
            <strong ng-if="(selFlow.operational - 1) % 2 !== 0">{{'OF_NO' | translate }}</strong>
        </span> -->
        <div class="statusLabel">{{'OF_CONF' | translate }}</div>
        <div class="statusData" >
            <i class="activate-icon-bordered" ng-if="(selFlow.operational - 1) % 2 === 0"></i>
            <i class="deactivate-icon-bordered" ng-if="(selFlow.operational - 1) % 2 !== 0"></i>
        </div>
    </div>
    <div class="flowInfoConfigStatusWrapper">
        <div class="statusLabel">{{'OF_OPER' | translate }}</div>
        <div class="statusData">
            <i class="activate-icon-bordered" ng-if="selFlow.operational > 1"></i>
            <i class="deactivate-icon-bordered" ng-if="selFlow.operational <= 1"></i>
        </div>
    </div>
</div>